log4cplus.rootLogger=TRACE, ALL_MSGS, DEBUG_MSGS, ERROR_MSGS ,TRACE_MSGS ,INFO_MSGS

#设置日志追加到文件尾

log4cplus.appender.DEBUG_MSGS=log4cplus::RollingFileAppender  

#设置日志文件大小
log4cplus.appender.DEBUG_MSGS.MaxFileSize=100MB

#设置生成日志最大个数
log4cplus.appender.DEBUG_MSGS.MaxBackupIndex=10

#设置输出日志路径
log4cplus.appender.DEBUG_MSGS.File=system.debug
log4cplus.appender.DEBUG_MSGS.layout=log4cplus::PatternLayout

#设置日志打印格式

log4cplus.appender.DEBUG_MSGS.layout.ConversionPattern=|%D:%d{%Q}|%p|%t|%l|%m|%n

log4cplus.appender.DEBUG_MSGS.filters.1=log4cplus::spi::LogLevelMatchFilter

#匹配相同日志级别，只有debug日志才输入到该文件中

log4cplus.appender.DEBUG_MSGS.filters.1.LogLevelToMatch=DEBUG
log4cplus.appender.DEBUG_MSGS.filters.1.AcceptOnMatch=true
log4cplus.appender.DEBUG_MSGS.filters.2=log4cplus::spi::DenyAllFilter